streamlit
langchain
langchain-community
chromadb
pypdf
pymupdf
sentence-transformers
faiss-cpu
sentence_transformers
requests
lxml
beautifulsoup4
reportlab
groq
langchain_groq
chromadb
sqlalchemy
psycopg2-binary 
PyMuPDF
PyPDF2